h1 {
    color: coral;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600 px;
    width: 500px;
    background-color: peru;
    padding: 50px;
    border: red;
    border-width: 2px;
    border-style: dashed;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}